/*------FONT----*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

::before,
::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root{
    /*background color*/
    --bg-azure:#F0FFFF;

    /*text color*/
    --primary-text: #000000;
    --secondary-color:#e33e3e;
    --light-color:#bae0d4;
    --dark-color:#252752;
    --text-white:#fff;
    --text-gray:#8a8686;
    --anchor-color:#a20000;

    /*Font Family*/
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;

}


.cv .banner-section,
.country .banner-section,
.heritage .banner-section,
.interest .banner-section,
.contact .banner-section{
    background:url(../images/bg\ events.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom:10rem;
    min-height:auto;
    
}

body{
    color: var(--primary-text);
    font-size: 20px;
    font-weight: 400;
    font-family: var(--secondary-font);
    scroll-behavior: smooth;
    line-height: 1.7;
    outline: none;
    background-color: rgba(250, 215, 218, 0.46);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    font-size: 1.6rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}

img{
    max-width: 100%;
    height:auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    outline: 0;
}

a:hover{
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background:var(--white); 
} 
::-webkit-scrollbar-thumb {
    background: var(--secondary-color); 
}  

/* navbar css */
.header{
    position: absolute;
    width: 100%;
    top: 1rem;
    left: 0;
    z-index: 2;

}

.header .navbar {
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5rem 2rem;
    
}

.navbar .navbar-nav{
    color:var(--primary-text)
}


/*Opening Part*/
#opening{
    background:#913b3b00 url(../images/bg\ welcoming.jpeg);
    background-position: center;
    background-size: cover;
}

.container h1{
    color: lightcoral;
}

.container h6{
    color:indianred;
}

/*introduction section*/
.featured-box{
    position: relative;
    display: flex;
    height:100pv;
    min-height:700pv;
}

.featured-text{
    position:relative;
    display:flex;
    justify-content: center;
    align-content:center;
    min-height: 80pv;
    flex-direction: column;
    width: 50%;
    padding-left: 50px;
}

.featured-text-card span{
    background: var(--text-gray);
    color:var(--bg-azure);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.featured-name{
    font-size: 50px;
    font-weight: 700;
    color:#000000;
    margin-block: 20px;
}

.featured-text-info{
    font-size: 20px;
    margin-bottom: 30px;
}

.featured-image{
    display:flex;
    justify-content: right;
    align-content: center;
    min-height: 100hv;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.featured-image .image{
    margin: auto;
    width: 380px;
    height:380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
    
}

.image img{
    width:380px;
    height: 380px;
    object-fit: cover;
    
}
@keyframes imgFloat{
    50%{
        transform: translateY(10px);
        border-radius: 55% 45% 55% 45%;
    }
}

/*About (my daily life) Section*/
.section{
    padding-block: 5rem;
    background : url(../images/bg.jpeg);
    background-position: center;
    background-size: cover;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    
}

.col{
    display: flex;
    width: 50%;
    margin-right: 7rem;
    margin-left: 7rem;
}


.top-header h2{
    text-align: center;
    font-weight: 600;
    color:rosybrown;
    margin-bottom: 1rem;

}

.h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.life-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--bg-azure);
    box-shadow: 1px 8px 10px 2px var(--text-gray);
    border-radius: 20px;
}

.life-info p{
    margin-top:1rem;
    text-align: center;
    font-size: 15px;
}


/*activites and events*/

.event {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    min-height: 100vh; /* Ensure the section takes at least the height of the viewport */
}

.event .top-header h2{
    margin-top:2rem;
}

.event .top-header h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
}


.event .carousel-indicators {
    bottom: -6rem;
}

.event .carousel-indicators button {
    background-color: #F08080;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.event .carousel-item .d-sm-flex .row {
    align-items: center; /* Center items vertically */
}

.event .card {
    background: url(../images/bg\ events.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 0 .5rem .5rem 0;
    border: 0.1rem solid transparent;
    margin: auto;
    width: 400px;
    height:380px;
  
}

.event .profile-box {
    padding: 1rem;
    background-color:rgba(240, 128, 128, 0.425);
    margin: auto;
    width: 400px;
    height:380px;
}

.event .profile-box img {
    border-radius: .625rem 3.125rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event .desc-box p{
    font-size: 20px;

}



/*----------------------------------------------------------------------------------*/
/*--CV PART--*/

/*banner*/
.cv .banner-section h1{
    margin-left: 5rem;
    color :#F08080;
    font-size: 70px;
}


/*text*/


.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curriculum-vitae{
    position:relative;
    width:100%;
    max-width: 1000px;
    min-height: 1000px;
    display:grid;
    margin-top:50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px gray;
    
}

.curriculum-vitae .left-side{
    position: relative;
    background-color:saddlebrown;
    padding:40px;
}

.profile-text{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 20px;
    border-bottom:5px solid palevioletred

}

.profile-text .imgBx{
    position:relative;
    width: 200px;
    height:200px;
    border-radius:50%;
    overflow:hidden;
}

.profile-text h5{
    color:#fff;
    font-size: 1,5em;
    text-align: center;
    font-weight: 600;
    line-height: 1,5em;
}

.contact h3,
.education h3,
.skills h3{
    font-weight:700;
    margin-top: 20px;
    border-bottom:2px solid palevioletred
}

.contact .text{
    font-size:14px;
    color:#fff;
}

.education .school{
    font-weight:500;
    font-size:15px;
    color:#fff;

}

.education .degree, .time{
    font-size:15px;
}

.skills .language{
    font-size:14px;
    color:#fff;
}



.curriculum-vitae .right-side{
    position: relative;
    background-color: beige;
    padding:40px;
}

.profile-info  h3{
    font-weight:700;
    margin-top: 20px;
    border-bottom:2px solid palevioletred
}

.profile-info p{
    font-size:15px;
}

.organization  h3{
    font-weight:700;
    margin-top: 20px;
    border-bottom:2px solid palevioletred
}

.organization .one h5, 
.organization .two h5,
.organization .three h5,
.organization .four h5{
    font-weight:500;
    font-size:20px;
    color:dimgray;
    margin-top:15px;
}

.organization p{
    font-size:15px;
}



/*---------------------------------------------------------------------------*/
/*--Country Page--*/

/*banner*/
.country .banner-section h1{
    margin-left: 5rem;
    color :#F08080;
    font-size: 70px;
}

.banner-content h5{
    color:#ea0202;
    margin-left: 5rem;
}

/*general information*/
.indonesia-info h1{
    font-size: 70px;
    margin-top:5rem;
    font-weight: 300;
    text-align: center;
    color: #a20000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.indonesia-info p{
    font-size: 20px;
    margin-top:0,5rem;
    font-weight: 500;
    text-align: center;
    color:#000000;
    text-shadow: 2px 2px 4px #a2000081;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    border-top: 5px solid #F08080;
    font-style: oblique;
}

/*details*/
.indonesia-attribute-bg{
    background-image: url(../images/country\ bg.jpeg);
    background-size: cover;
}


.details .card{
    box-shadow: 3px 5px 5px #a20000;
    border:none;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.details .card img{
    position: relative;
}


/*travel places*/
.travel-places .title{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 1rem;
    color:#F08080;

}

.travel-places .content{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.travel-places .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px #8a8686;
    
}

.travel-places .content .box .image-box{
    position: relative;
    width: 100%;
    height:300px;
}

.travel-places .content .box .image-box img{ 
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.travel-places .content .box .text-info 
{
    padding: 15px 0 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.travel-places .content .box .text-info h3
{
    color:#000000;
    font-size: 20px;
    margin-left: 0.3rem;
    font-weight: 700;

}

.travel-places .content .box .text-info p{
    margin-top:0.5rem;
    font-size: 15px;
}


/*pictures*/
.pictures{
    justify-content: center;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.pictures .carousel-indicators {
    bottom: -3rem;
}

.pictures .carousel-indicators button {
    background-color: #F08080;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.pictures .carousel-inner {
    display:flex;
    justify-content: center;

}

.pictures .carousel-item {
    align-items: center;
    max-width: 900px; /* Adjust the maximum width */
    max-height: 800px; /* Adjust the maximum height */
    background-image: url(../images/country\ picture\ bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 0 .5rem .5rem 0;
    border: 0.1rem solid transparent;
    margin: auto;
}


.carousel-caption h5{
    color:#fff;
    background-color: #a20000;
    background-position: contain;
    font-size: 15px;
    font-family: 500;
}

.carousel-caption p{
    background-color:#fff;
    color: #a20000;
    font-size: 10px;
    font-family: 500;
}

/* Color for control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color:#a20000; /* Set your desired color */
}

.pictures .more-info h5{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    color:#a20000;
}





